<li><a class="underline_animation" href="/<%= p %>">
    <div class="nav-icon" id="<%= p %>"></div>
    <h1>
        <% let title = p.charAt(0).toUpperCase() + p.slice(1); %>
        <%= title %>
    </h1>
</a></li>