<!-- Messages sent by current user have an additional class -->
<!-- For testing purposes, assume current user is user3-->
<% if (msg.user === author) { %>
    <% if (msg.user === prev) { %> 
        <section class="message stream mine">
    <% } else { %>
        <section class="message mine">
        <% prev = msg.user %>
    <% } %>
<% } else { %>
    <% if (msg.user === prev) { %> 
        <section class="message stream">
    <% } else { %>
        <section class="message">
        <% prev = msg.user %>
    <% } %>
<% } %>
    <h1 id="username"> <%= msg.username %> </h1>
    <p id="msg"> <%= msg.body %> </p>
</section>