<section id="dashboard">

    <section id="welcome">

    </section>

    <section id="biography">
        
    </section>

    <section id="discover">

    </section>

    <section id="about">
        
    </section>

</section>