<section id="discover">
  <!-- This setup can be expanded with more discover areas
             Eg: hot, new, popular, for you, etc -->
  <article class="discover_section" id="general">
    <h1>Discover collections</h1>
    <ul class="discover_lineup">
      <!-- TODO: Make card generation dynamic
                     Eg: collections.forEach( include('discover_item')) -->

        <% let collection = [{"title": "Animal Pattern" , "img" : "/images/animal_pattern.jpg" }, {"title": "Abstract Art" , "img" : "/images/abstract_art.jpg" },{"title": "Dark" , "img" : "/images/dark_art.jpg" }] %>
        <% collection.forEach( item => { %>
          <li class="discover_item grow_hover shadow"><a href="/item/info">
              <img src="<%= item.img %>" alt="<%= item.title %>">
              <h1><%= item.title %></h1>
          </a></li>
        <% }) %>

    </ul>
  </article>

</section>