<footer>
    <img src="/images/logo.png" alt="s.a.n.d logo">
    <p>&copy;S.A.N.D Copyright.</p>
    <a href="/terms">Terms And Conditions.</a>
    <a href="/privacy">Privacy Policy</a>
    <div id='social'>
        <ul>
            <li><a href="facebook"><img src="/images/fb.png" alt="facebook logo"></a></li>
            <li><a href="twitter"><img src="/images/twitter.png" alt="twitter logo"></a></li>
            <li><a href="instagram"><img src="/images/instagram.png" alt="instagram logo"></a></li>
        </ul>
    </div>
</footer>