<html>

<head>
    <link rel="stylesheet" href="../public/stylesheets/footer.css"> <!-- temporary, until server routes are implemented, will be updated-->
    </head>
<footer>
    <img src="../public/images/nft.png" alt="s.a.n.d logo"  id='logo'>
    <p class='copyright'>&copy; S.A.N.D Copyright.</p>
    <a href="/terms">Terms And Conditions.</a> 
    <a href="/privacy">Privacy Policy</a>
    </p>
    <div class="social">

        <a href="facebook"><img src="../public/images/facebook.png" alt="facebook logo"></a> 
        <a href="twitter"><img src="../public/images/twitter.png" alt="twitter logo"></a> 
        <a href="instagram"><img src="../public/images/instagram.png" alt="instagram logo"></a>
    </div>
</footer>


</html>