<!-- Uncomment (one at a time!) to test different main views-->
<!-- TODO add dashboard here -->

<section id="friendlist">

  <section class="page" id="your_friends">
    <h1>Your friends</h1>
    <ul>
      <% friends.forEach( friend=> { %>
        <li class="friend">
          <section class="shadow" id="info">
            <div id="avatar"></div>
            <h1 id="name">
              <%= friend.name %>
            </h1>
            <p>Lorem ipsum dolor sit amet.</p>
          </section>
          <div id="buttons">
            <button class="grow_hover" id="profile">See Profile</button>
            <button class="grow_hover" id="message">Message</button>
            <button class="grow_hover" id="unfriend">Unfriend</button>
          </div>
        </li>

        <% }); %>
    </ul>
  </section>

  <section id="bookmarks">
    <% for(let i=0; i < 9; i++) { %>
      <% let style='grid-area: ' + (1 + 2*i) + ' / 1 / ' + (4 + 2*i) + ' / 2' %>
        <div style="<%= style %>" id="bm<%=i%>" class="bookmark"></div>
        <% }; %>
  </section>

</section>
