<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/header.css' />
    <link rel='stylesheet' href='/stylesheets/navbar.css' />
    <link rel='stylesheet' href='/stylesheets/general.css' />
    <link rel='stylesheet' href='/stylesheets/navbar_min.css' />
    <link rel='stylesheet' href='/stylesheets/discover.css' />
  </head>
  <body>

    <!-- TODO: Transfer this page structure to index.html-->

    <header id="header">
      <%- include('header') %>
    </header>

    <!-- Minimize navbar by adding: class="minimized" -->
    <nav id="navbar">
      <% let pages = ["home", "exchange", "discover", "follow", "friendlist", "rooms"] %>
      <%- include('navbar', {pages:pages}); %>
    </nav>

    <main>
      <%- include('discover') %>
    </main>

    <aside id="aside"></aside>

    <footer id="footer"></footer>

  </body>
</html>