<!-- Uncomment (one at a time!) to test different main views-->
<!-- TODO add dashboard here -->

<section id="friendlist">

    <!-- Change #page's class between sent_requests/friends/requests to change color -->

    <section class="friends" id="page">
        <div id="list">
          <ul>
              <% friends.forEach( friend => { %>
                <li class="friend">
                    <section class="shadow" id="info">
                        <img id="avatar" src="images/user1.png" alt="<%= friend.name %>">
                        <h1 id="name"><%= friend.name %></h1>
                    </section>
                    <div id="buttons">
                        <button class="button" id="profile">See Profile</button>
                        <button class="button" id="message">Message</button>
                        <button class="button" id="unfriend">Unfriend</button>
                    </div>
                </li>

              <% }); %>
          </ul>
        </div>
        
    </section>

    <section id="bookmarks">
        <% for(let i=0; i < 9; i++) { %>
            <% let style = 'grid-area: ' + (1 + 2*i) + ' / 1 / ' + (4 + 2*i) + ' / 2' %>
            <div style="<%= style %>" id="bm<%=i%>" class="bookmark"></div>
        <% }; %>
    </section>

</section>
