<html>
    <head>
        <title><%= title %></title>
    </head>

    <body>
        <form method="POST" action="/login" enctype="multipart/form-data">
            <label for="username">Username:</label>
            <input type="text" name="username">
            <label for="password">Password:</label>
            <input type="password" name="password">
            <input type="submit" value="Login">
        </form>
    </body>

</html>