<html>
    <head>
        <title><%= title %></title>
    </head>

    <body>
        <form method="POST" action="/login" enctype="multipart/form-data">
            <label for="username">Username:</label>
            <input type="text" name="username" required>
            <label for="password">Password:</label>
            <input type="password" name="password" required>
            <input type="submit" value="Login">
            
        </form>
        <form method="GET" action="/signup">
            <input type="submit" value="Signup">
        </form>
    </body>

</html>