<nav id="navbar">
    <ul>
        <li><a href="/">
            <div class="nav-icon" id="home"></div>
            <h1>Home</h1>
        </a></li>

        <li><a href="/exchange">
            <div class="nav-icon" id="exchange"></div>
            <h1>Exchange</h1>
        </a></li>

        <li><a href="/follow">
            <div class="nav-icon" id="follow"></div>
            <h1>Follow</h1>
        </a></li>

        <li><a href="/friends">
            <div class="nav-icon" id="friendlist"></div>
            <h1>Friendlist</h1>
        </a></li>

        <li><a href="/rooms">
            <div class="nav-icon" id="rooms"></div>
            <h1>Rooms</h1>
        </a></li>
    </ul>

    <section id="options">
        <button class="nav-icon" id="minmax"></button>
        <button class="nav-icon" id="currency"></button>
        <button class="nav-icon" id="options"></button>
    </section>
</nav>