<section> <%= user.username %> </section>
<img id="ppic" src="<%= user.ppic %>">
<section> <%= user.bio %></section>
<button type = "button" id="settings" name="settings"> Settings </button>

<section id="friendlist"></section>
<section id="friendrequests"> </section>
<section id="blocked"> </section>

<section id="tracking"></section>
<section id="recentlyviewed"> </section>