<html>

<head>
    <link href="stylesheets/settings.css" rel="stylesheet" />
    <link href="stylesheets/general.css" rel="stylesheet" />
</head>

<body>

    <div id="settings_container">

        <div id="settings">

            <h1>Edit Your Profile</h1>

            <section id="profile_picture">
                <img id="picture" src="images/user1.png" alt="profile">
                <form method="POST" action="user/settings/<%= result._id %>?req=ppic" enctype="multipart/form-data">
                    <label for="upload">Choose an image to upload:</label>
                    <input  type="file" id="file" name="profile_picture" accept="image/*">
                    <button type="button" id="regenerate_image" name="regenerate_image"> Regenerate Image </button>
                    <input class="button" type="submit" value="Change profile picture">
                </form>
            </section>

            <section class="settings_section" id="user_info">

                <h2 class="title" >Modify your profile information</h1>

                <div>
                    <form method="POST" action="user/settings/<%= result._id %>?req=settings" enctype="multipart/form-data">
                        <label for="email">
                            <h3>Change your email</h3>
                            <input type="text" name="email" required>
                            <input class="button" type="submit" value="Change email">
                        </label>
                    </form>
            
                    <form method="POST" action="user/settings/<%= result._id %>?req=bio" enctype="multipart/form-data">
                        <label for="bio">
                            <h3>Change your bio</h3>
                            <input type="text" name="bio">
                            <input class="button" type="submit" value="Change bio">
                        </label>
                    </form>
                </div>

                
            </section>

            <section class="settings_section" id="password">

                <h2 class="title" >Modify your password</h1>

                <form method="POST" action="user/settings/<%= result._id %>?req=password" enctype="multipart/form-data">

                    <label for="old_password">
                        <h3>Old Password</h3>
                        <input type="text" name="old_password" required>
                    </label>
        
                    <label for="new_password">
                        <h3>New Password</h3>
                        <input type="password" name="new_password" required>
                    </label>
        
                    <label for="confirm_new_password">
                        <h3>Confirm New Password</h3>
                        <input type="password" name="confirm_new_password" required>
                    </label>
                    
                    <input class="button" type="submit" value="Change password">
                </form>

            </section>
        </div>

    </div>
    
</body>

</html>