<html>
    <head>
        <title><%= title %></title>
    </head>

    <body>
        <!-- temporary action until the users route will be implemented -->
        <form method="POST" action="/login/signup" enctype="multipart/form-data"> 
            <label for="username">Username:</label>
            <input type="text" name="username">
            <label for="email">Email:</label>
            <input type="text" name="email">
            <label for="password">Password:</label>
            <input type="password" name="password">
            <input type="submit" value="Signup">
        </form>
    </body>

</html>