<html>

<head>
    <link href="public/stylesheets/single_room.css" rel="stylesheet" />
    <link href="public/stylesheets/general.css" rel="stylesheet" />
</head>

<body>

    <div id="room_container">
        <section class="room">
            <!-- central part -->
            <div id="chat_shadow"></div>
            <section id="chat">
                <% let prev %>
                <% messages.forEach(msg => { %>
                    <% let info = {prev:prev, msg:msg} %>
                    <%- include('includes/room_msg', info) %>
                    <% if (msg.user.id != prev) { %>
                        <% prev = msg.user.id %>
                    <% } %>
                <% }); %>
            </section>
        
            <!-- below the chat messages -->
            <section id="input">
                <button class="grow_hover" id="leave_room">Leave room</button>
                <div id="input">
                    <label for="msg">
                        <input id="msg" type="text" name="msg" value="" placeholder="Type here your message"/>
                    </label>
                    <button class="grow_hover" id="send">Send</button>
                </div>
            </section>
        
            <!-- member list aside -->
            <section id="members">
                <section id="normal_members">
        
                    <h2>Members</h2>
                    <ul class="member_list">
                        <% users.forEach( user => { %>
                            <%- include('includes/room_member', {user:user, role:'user'}) %>
                        <% }); %>
                    </ul>
                    
                </section>
            </section>
        </section>  
    </div>
    
</body>

</html>

