/* Expansion of style.css */

/* TODO: Add color variables */

* {
    margin: 0px;
    padding: 0px;
    color: black !important;
}

body {
    padding: 0px !important;
}

#header, #navbar {
    border: 1px solid black;
}

#navbar {
    border-top: 0; /* removes overlapping borders */
}


/* Buttons */

button:hover {
    cursor: pointer;
    filter: brightness(150%);
}

button {
    background-color: transparent;
    border-style: none;
    border-radius: 500px;
    background-size: 75% !important;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
}


/* Hover Underline Animation 
   Will make h1 inside parent w/ class get underlined */

.underline_animation h1 {
    display: inline-block;
    position: relative;
}

.underline_animation h1::after {
    content: "";
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: black;
    transform-origin: bottom center;
    transition: transform 0.25s ease-out;
}

.underline_animation:hover h1::after {
    transform: scaleX(1);
    transform-origin: bottom center;
}


/* Float on Hover */
.grow_hover {
    transition: all .15s ease-out;
}

.grow_hover:hover {
    transform: scale(1.2);
}